/**
 * Custom theme for reveal.js.
 *
 */




// Include theme-specific fonts
@font-face {
	font-family: 'League Gothic';
	src: url('../fonts/league_gothic-webfont.eot');
	src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/league_gothic-webfont.woff') format('woff'),
		 url('../fonts/league_gothic-webfont.ttf') format('truetype'),
		 url('../fonts/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');

	font-weight: normal;
	font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


// Override theme settings (see ../template/settings.scss)
$mainColor: #333;
$headingColor: #333;
$headingTextShadow: none;
$backgroundColor: #f4f4f4;
$linkColor: #333;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(#f9f9f9, 0.99);
$heading1TextShadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 20px 20px rgba(0,0,0,.15);

// Background generator
@mixin bodyBackground() {
	background: url("../img/greyzz.png") repeat;
}
